.main {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    flex: 1;
    background-size: cover;
    background-repeat:   no-repeat;
    background-position: center center; 
}

.image{
    width: 20%;
    display: block;
    cursor: pointer;
}